.address {
  margin-bottom: 9px;
  color: var(--primary-white);
  font-weight: 400;
  line-height: 1.7;
  font-style: normal;
}
.adress-list {
  margin-top: 20px;
}
.contacts {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  line-height: 1.7;
}
.contacts-link {
  color: var(--secondary-white);
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
}
.contact-list {
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}
