.join__social-media {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 206px;
}
.join {
  .social-media__icon {
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.join {
  .social-media__icon {
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}
.join {
  .social-media__img {
    fill: var(--primary-white);
  }
}
