.projects {
  padding-bottom: 94px;
  padding-top: 82px;
}
.filter-btn {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}
// .filter-btn {
//     &:last-child {
//     margin-right: 0;
//     }
// }
.projects-filter {
  margin-top: 94px;
}
.filter-button {
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--primary-white);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
// .filter-button {
//     &:hover,
//     &:focus {
//     color: var(--primary-white);
//     background-color: var(--accent-color);
//     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//     0px 2px 2px rgba(0, 0, 0, 0.12);
//     }
// }
